<section class="container my-5">

  <div class="d-flex justify-content-between align-items-center mb-4">

  <h2>Your Cart</h2>

  <button
    class="btn btn-secondary"
    routerLink="/products">

    ← Back to Products

  </button>

</div>

  @if(cartService.cartItems().length > 0){

    <div class="row g-3">

      @for(item of cartService.cartItems(); track item.productId){

        <div class="col-md-12">

          <div class="card p-3 d-flex flex-row align-items-center justify-content-between">

            <div class="d-flex align-items-center">

              <img 
                [src]="'https://localhost:7125/Productimages/' + item.productImages[0]?.imageUrl"
                width="80"
                class="me-3">

             <div>

  <h6>{{ item.name }}</h6>

  <p class="mb-1">
    ₹{{ item.price }}
  </p>

  <p class="mb-0 text-muted">
    Size: {{ item.selectedSize }}
  </p>

</div>

            </div>

            <div class="d-flex align-items-center gap-2">

  <button class="btn btn-outline-dark btn-sm"
          (click)="cartService.removeItem(item.productId)">
    -
  </button>

  <span>{{ item.quantity }}</span>

  <button class="btn btn-outline-dark btn-sm"
          (click)="cartService.addToCart(item)">
    +
  </button>

  <button class="btn btn-danger btn-sm ms-3"
          (click)="cartService.removeAll(item.productId)">
    Remove
  </button>

</div>

          </div>

        </div>

      }

    </div>

    <h4 class="text-end mt-4">
      Total: ₹{{ cartService.getTotal() }}
    </h4>
    <button class="btn btn-success float-end"
            (click)="goCheckout()">
      Proceed to Checkout 
      </button>

  } @else {
    <h4 class="text-center">Cart is empty</h4>
  }

</section>
